@import 'var';
@import 'fonts';
@import 'slick';
@import 'mixins';
@import 'overides';
body {
    @include Alte-bold;
    background: $background;
}

.wrapper-main {
    padding: 0 !important;
    margin: 0 !important;
}

.fr-wrapp {
    max-width: $main-width;
}

.fr-wrapp-small {
    max-width: 980px;
}

.frugl-header {
    display: block;
    position: relative;
    background: $white;
    .header-bg {
        background-size: cover !important;
        background-position: 50% 50% !important;
        position: relative;
        &:before {
            content: '';
            display: block;
            position: absolute;
            background: $orange;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            opacity: 0.85;
        }
        &.nearby-bg {
            background: url('../images/nearby.jpg');
        }
        &.travel-bg {
            background: url('../images/travel.jpg');
        }
        &.shopping-bg {
            background: url('../images/shopping.jpg');
        }
    }
    .col-wrapper {
        height: 380;
        min-height: 380px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2 {
            text-align: center;
            @include hanken-light;
            font-size: 36px;
            line-height: 1.5;
            z-index: 2;
            color: $white;
        }
        button {
            background: transparent;
            color: $white;
            width: 200px;
            border: 2px solid $white;
            z-index: 2;
            padding: 0.2rem 1rem;
            border-radius: 2rem;
            cursor: pointer;
            outline: none;
            &.btn-nearby {
                border-color: $yellow;
                @include transition-basic;
                &:hover {
                    background: $yellow;
                }
            }
            &.btn-travel {
                border-color: $green;
                @include transition-basic;
                &:hover {
                    background: $green;
                }
            }
            &.btn-shopping {
                border-color: $purple;
                @include transition-basic;
                &:hover {
                    background: $purple;
                }
            }
        }
    }
    .fr-header-sction-bar {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        height: 60px;
        background: rgba(0, 0, 0, 0.5);
        .bulletings {
            .location-wrap {
                display: flex;
                align-items: center;
                justify-content: center;
                border-right: 1px solid $white;
                height: 48px;
                margin: 6px 0;
                .location-img {
                    width: 36px;
                    height: 36px;
                    display: block;
                    background: url('../images/sprite.png') $orange;
                    background-size: 120px;
                    background-position: -89px;
                    background-repeat: no-repeat;
                    border-radius: 36px;
                    margin: 0 1rem 0 0;
                }
            }
            .location-details {
                display: flex;
                flex-direction: column;
                color: $white;
                h3 {
                    @include Alte-regular;
                    font-size: 18px;
                    line-height: 16px;
                    margin: 0;
                }
                span {
                    @include Alte-regular;
                    font-size: 12px;
                    line-height: 12px;
                    margin: 0;
                    display: block;
                    text-align: left;
                    position: relative;
                    cursor: pointer;
                    &:after {
                        content: '';
                        display: inline-block;
                        position: absolute;
                        width: 6px;
                        height: 6px;
                        border-right: 1px solid $white;
                        border-bottom: 1px solid $white;
                        transform: rotate(45deg);
                        top: 3px;
                        right: -3px;
                    }
                }
            }
            .bulet-wrap {
                display: flex;
                height: 48px;
                margin: 6px 0;
                align-items: center;
                justify-content: center;
                border-right: 1px solid $white;
            }
            .bulets {
                @include Alte-regular;
                font-size: 18px;
                color: $white;
                text-align: center;
                text-transform: uppercase;
                margin: 0;
                span {
                    font-size: 12px;
                    display: block;
                }
            }
            .col {
                padding: 0;
                &:last-child {
                    .bulet-wrap {
                        border-right: none;
                    }
                }
            }
        }
    }
}

.navbar-brand {
    margin-right: 70px;
    img {
        height: 36px;
    }
}

.navbar-brand {
    &.mobile {
        display: none;
    }
}

.burger {
    &.sidenav-toggle {
        display: none;
    }
    .burger-icon {
        width: 40px;
        height: 28px;
        display: block;
        .line {
            width: 100%;
            height: 4px;
            background: $orange;
            border-radius: 4px;
            display: block;
            &:after,
            &:before {
                width: 100%;
                height: 4px;
                display: block;
                content: '';
                border-radius: 4px;
                background: $orange;
            }
            &:before {
                transform: translate(0, 12px);
            }
            &:after {
                transform: translate(0, 20px);
            }
        }
    }
}

.fr-header-nav {
    min-height: 80px;
    box-sizing: border-box;
    position: relative;
    background: $background !important;
    .fr-searchbar {
        width: 100%;
        display: none;
        flex-wrap: wrap;
        background: $white;
        position: absolute;
        top: 80px;
        left: 0;
        z-index: 999;
        input[type=search] {
            padding: 0 20% 0 calc(20% + 56px);
            width: 100%;
            margin: 0 auto;
            height: 80px;
            border: none;
            background: $background;
            outline: none;
            background-image: url('../images/search-icon-line.png');
            background-repeat: no-repeat;
            background-position: 20% 50%;
            background-size: 36px;
        }
        .search-results {
            display: block;
            width: 100%;
            margin: 0 auto;
            background: $white;
            padding: 0 0 1rem 0;
            margin: 0;
            .search-item {
                width: $main-width;
                padding: 0 20%;
                list-style: 0;
                @include Alte-regular;
                font-size: 1rem;
                line-height: 2rem;
                &:hover {
                    cursor: pointer;
                }
                .category {
                    color: $red;
                    @include Alte-bold;
                }
                .number {
                    @include Alte-bold;
                    color: $dark-gray;
                    &:before,
                    &:after {
                        content: '';
                        display: inline-block;
                        padding: 0 2px;
                    }
                    &:before {
                        content: '('
                    }
                    &:after {
                        content: ')'
                    }
                }
            }
            .suggestions {
                display: block;
                width: $main-width;
                padding: 0 20%;
                list-style: 0;
                color: $medium-gray;
                @include Alte-regular;
                font-size: 14px;
                line-height: 42px;
            }
        }
    }
}

.fr-navbar {
    .navbar-collapse {
        //margin-bottom: 20px;
    }
    .dropdown-header {
        color: $black;
    }
    .back-to-home {
        @include hanken-light;
        font-size: 24px;
        line-height: 42px;
        margin: 1rem;
        box-sizing: border-box;
        padding-bottom: 1rem;
        display: flex;
        justify-content: space-between;
        color: $red;
        display: none;
        border-bottom: 2px solid $dark-gray;
        .close-sidnav {
            font-size: 42px !important;
        }
    }
    ul {
        li {
            a {
                @include hanken-light;
                &:after {
                    display: none;
                }
            }
        }
        li>a {
            margin: 0 1rem;
            display: inline-block;
            color: $dark-gray;
            &.fr-nearby {
                border: 2px solid $yellow;
                border-radius: 40px;
                padding: 0.4rem 2rem 0.2rem !important;
                @include transition-basic;
                &:hover {
                    background: $yellow;
                    text-decoration: none;
                }
            }
            &.fr-travel {
                border: 2px solid $green;
                border-radius: 40px;
                padding: 0.4rem 2rem 0.2rem !important;
                @include transition-basic;
                &:hover {
                    background: $green;
                    text-decoration: none;
                }
            }
            &.fr-shopping {
                border: 2px solid $purple;
                border-radius: 40px;
                padding: 0.4rem 2rem 0.2rem !important;
                @include transition-basic;
                &:hover {
                    background: $purple;
                    text-decoration: none;
                }
            }
        }
    }
}

.fr-action-bar-wrap {
    display: flex;
    align-items: center;
    .fr-action-bar {
        display: flex;
        margin: 0;
        padding: 0;
        li {
            list-style: none;
            a {
                padding: 0.5rem 1rem;
                &:first-child {
                    margin-right: 1rem;
                }
                &.add-event,
                &.search-icon {
                    width: 36px;
                    height: 36px;
                    border-radius: 36px;
                    background: $orange;
                    display: block;
                }
                &.search-icon {
                    background: url(../images/sprite.png) #db5b46;
                    background-size: 118px;
                    background-position: -56px 5px;
                    background-repeat: no-repeat;
                }
                &.add-event {
                    background: url(../images/sprite.png) #db5b46;
                    background-size: 120px;
                    background-position: -26px 5px;
                    background-repeat: no-repeat;
                }
            }
        }
    }
    .login-btn {
        display: inline-flex;
        padding: 0.4rem 2rem;
        border: 2px solid $red;
        border-radius: 2rem;
        @include hanken-light;
        @include transition-basic;
        &:hover {
            cursor: pointer;
            background: $red;
            color: $white;
        }
    }
}

@import 'megamenu';
@import 'sliders';
@import 'footer';
#changeRegion {
    .city-title-letter {
        .city-title-header {
            display: flex;
            background: $orange;
            border-radius: 30px;
            font-size: 18px;
            line-height: 30px;
            padding: 0 1rem;
            @include Alte-bold;
            color: $white;
            margin: 0;
        }
        .city-list {
            margin: 0;
            padding: 0.8rem 0 0.8rem 1.6rem;
            li {
                list-style: none;
                font-size: 14px;
                @include Alte-regular;
                a {
                    color: $dark-gray;
                    text-decoration: none;
                    @include transition-basic;
                    line-height: 32px;
                    &:hover {
                        color: $orange;
                    }
                }
            }
        }
    }
    .close {
        //margin-top: -26px;
    }
    .input-group {
        margin-bottom: 2rem;
        &.fr-search-cities {
            display: flex;
            width: 100%;
            position: relative;
            input {
                width: 100%;
                height: 60px;
                border-radius: 30px;
                border: 1px solid $orange;
                position: relative;
            }
            .input-group-btn {
                position: absolute;
                right: 0;
                top: 1px;
                button {
                    width: 58px;
                    height: 58px;
                    display: block;
                    border-radius: 30px;
                    background: $orange;
                    margin: 0;
                    z-index: 3;
                    border: none;
                    cursor: pointer;
                    position: relative;
                    &:after {
                        content: '';
                        position: absolute;
                        width: 30px;
                        height: 30px;
                        top: 15px;
                        left: 15px;
                        background: url(../images/sprite.png);
                        background-repeat: no-repeat;
                        background-size: 126px;
                        background-position: -64px;
                    }
                }
            }
        }
    }
}

.model-location-wrap {
    display: flex;
    flex-grow: 1;
    .location-img {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background: url('../images/sprite.png') $orange;
        background-repeat: no-repeat;
        background-size: 126px;
        background-position: -92px;
    }
    .location-details {
        h3 {
            @include Alte-regular;
            font-size: 20px;
            line-height: 40px;
            padding-left: 1rem;
            margin: 0;
        }
    }
}

.mobile-btns-wrapp {
    padding: 2rem 0;
    max-width: $main-width;
    margin: 0 auto;
    display: none;
    ul {
        padding: 0;
        margin: 0;
        display: flex;
        li {
            list-style: none;
            width: 100%;
            display: flex;
            justify-content: space-between;
            a {
                background: transparent;
                @include hanken-light;
                color: $black;
                width: 200px;
                border: 2px solid $white;
                z-index: 2;
                padding: 0.3rem 1rem;
                text-align: center;
                width: 90%;
                margin: 0 5%;
                border-radius: 2rem;
                cursor: pointer;
                outline: none;
                text-decoration: none;
                &.btn-nearby {
                    border-color: $yellow;
                    @include transition-basic;
                    &:hover {
                        background: $yellow;
                    }
                }
                &.btn-travel {
                    border-color: $green;
                    @include transition-basic;
                    &:hover {
                        background: $green;
                    }
                }
                &.btn-shopping {
                    border-color: $purple;
                    @include transition-basic;
                    &:hover {
                        background: $purple;
                    }
                }
            }
        }
    }
}

.fr-login-tabs {
    position: relative;
    .fr-modal-close {
        position: absolute;
        right: 50%;
        margin-right: -15px;
        top: -15px;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $white;
        border-radius: 15px;
        opacity: 1;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
        span {
            line-height: 12px;
            position: absolute;
            top: 6px;
            left: 8px;
        }
    }
    nav {
        border: none !important;
        a {
            display: flex;
            justify-content: center;
            text-align: center;
            text-transform: capitalize;
            color: $dark-gray !important;
            background-color: $background !important;
            width: 50%;
            line-height: 60px;
            border: none !important;
            &.active {
                border: none;
                background-color: $orange !important;
                color: $white !important;
            }
        }
    }
    .tab-content {
        padding: 1.5rem 1.5rem 0;
    }
    select {
        display: flex;
        width: 100%;
        border-radius: 30px;
        border: 1px solid $yellow;
        background: url('../images/drop.png');
        background-repeat: no-repeat;
        background-size: 36px;
        background-position: 100%;
    }
    .modal-title {
        display: flex;
        justify-content: center;
        text-align: center;
        text-transform: capitalize;
        color: $white !important;
        background-color: $orange !important;
        width: 100%;
        line-height: 60px;
        border: none !important;
        border-radius: 0.275rem 0.275rem 0 0;
        margin-bottom: 1rem;
    }
}

@import 'megamenu';
@import 'sliders';
@import 'footer';
@import 'media';