@import 'var';
@import 'fonts';
@import 'slick';
@import 'nice-select';
@import 'mixins';
@import 'overides';
a {
    color: inherit;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

body {
    @include Alte-bold;
    background: $background;
}

.wrapper-main {
    padding: 0 !important;
    margin: 0 !important;
}

.fr-wrapp {
    max-width: $main-width;
}

.fr-wrapp-small {
    max-width: 980px;
}

.frugl-header {
    display: block;
    position: relative;
    background: $white;
    .header-bg {
        background-size: cover !important;
        background-position: 50% 50% !important;
        position: relative;
        &:before {
            content: '';
            display: block;
            position: absolute;
            background: $orange;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            opacity: 0.85;
        }
        &.nearby-bg {
            background: url('../images/nearby.jpg');
        }
        &.travel-bg {
            background: url('../images/travel.jpg');
        }
        &.shopping-bg {
            background: url('../images/shopping.jpg');
        }
    }
    .col-wrapper {
        height: 380;
        min-height: 380px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2 {
            text-align: center;
            @include hanken-light;
            font-size: 36px;
            line-height: 1.5;
            z-index: 2;
            color: $white;
        }
        a {
            background: transparent;
            color: $white;
            display: block;
            text-align: center;
            width: 200px;
            border: 2px solid $white;
            z-index: 2;
            padding: 0.2rem 1rem;
            border-radius: 2rem;
            cursor: pointer;
            outline: none;
            @include hanken-book;
            &.btn-nearby {
                border-color: $yellow;
                @include transition-basic;
                &:hover {
                    background: $yellow;
                }
            }
            &.btn-travel {
                border-color: $green;
                @include transition-basic;
                &:hover {
                    background: $green;
                    color: $white;
                }
            }
            &.btn-shopping {
                border-color: $purple;
                @include transition-basic;
                &:hover {
                    background: $purple;
                    color: $white;
                }
            }
        }
    }
    .fr-header-sction-bar {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        height: 60px;
        background: rgba(0, 0, 0, 0.5);
        .bulletings {
            .location-wrap {
                display: flex;
                align-items: center;
                justify-content: center;
                border-right: 1px solid $white;
                height: 48px;
                margin: 6px 0;
                .location-img {
                    width: 36px;
                    height: 36px;
                    display: block;
                    background: url('../images/sprite.png') $orange;
                    background-size: 120px;
                    background-position: -89px;
                    background-repeat: no-repeat;
                    border-radius: 36px;
                    margin: 0 1rem 0 0;
                }
            }
            .location-details {
                display: flex;
                flex-direction: column;
                color: $white;
                h3 {
                    @include Alte-regular;
                    font-size: 18px;
                    line-height: 16px;
                    margin: 0;
                }
                span {
                    @include Alte-regular;
                    font-size: 12px;
                    line-height: 12px;
                    margin: 0;
                    display: block;
                    text-align: left;
                    position: relative;
                    cursor: pointer;
                    &:after {
                        content: '';
                        display: inline-block;
                        position: absolute;
                        width: 6px;
                        height: 6px;
                        border-right: 1px solid $white;
                        border-bottom: 1px solid $white;
                        transform: rotate(45deg);
                        top: 3px;
                        right: -3px;
                    }
                }
            }
            .bulet-wrap {
                display: flex;
                height: 48px;
                margin: 6px 0;
                align-items: center;
                justify-content: center;
                border-right: 1px solid $white;
            }
            .bulets {
                @include Alte-regular;
                font-size: 18px;
                color: $white;
                text-align: center;
                text-transform: uppercase;
                margin: 0;
                span {
                    font-size: 12px;
                    display: block;
                }
            }
            .col {
                padding: 0;
                &:last-child {
                    .bulet-wrap {
                        border-right: none;
                    }
                }
            }
        }
    }
}

.navbar-brand {
    margin-right: 70px;
    img {
        height: 36px;
    }
}

.navbar-brand {
    &.mobile {
        display: none;
    }
}

.burger {
    &.sidenav-toggle {
        display: none;
    }
    .burger-icon {
        width: 40px;
        height: 28px;
        display: block;
        .line {
            width: 100%;
            height: 4px;
            background: $orange;
            border-radius: 4px;
            display: block;
            &:after,
            &:before {
                width: 100%;
                height: 4px;
                display: block;
                content: '';
                border-radius: 4px;
                background: $orange;
            }
            &:before {
                transform: translate(0, 12px);
            }
            &:after {
                transform: translate(0, 20px);
            }
        }
    }
}

.fr-header-nav {
    min-height: 80px;
    box-sizing: border-box;
    position: relative;
    background: $background !important;
    .fr-searchbar {
        width: 100%;
        display: none;
        flex-wrap: wrap;
        background: $white;
        position: absolute;
        top: 80px;
        left: 0;
        z-index: 999;
        input[type=search] {
            padding: 0 20% 0 calc(20% + 56px);
            width: 100%;
            margin: 0 auto;
            height: 80px;
            border: none;
            background: $background;
            outline: none;
            background-image: url('../images/search-icon-line.png');
            background-repeat: no-repeat;
            background-position: 20% 50%;
            background-size: 36px;
        }
        .search-results {
            display: block;
            width: 100%;
            margin: 0 auto;
            background: $white;
            padding: 0 0 1rem 0;
            margin: 0;
            .search-item {
                width: $main-width;
                padding: 0 20%;
                list-style: 0;
                @include Alte-regular;
                font-size: 1rem;
                line-height: 2rem;
                &:hover {
                    cursor: pointer;
                }
                .category {
                    color: $red;
                    @include Alte-bold;
                }
                .number {
                    @include Alte-bold;
                    color: $dark-gray;
                    &:before,
                    &:after {
                        content: '';
                        display: inline-block;
                        padding: 0 2px;
                    }
                    &:before {
                        content: '('
                    }
                    &:after {
                        content: ')'
                    }
                }
            }
            .suggestions {
                display: block;
                width: $main-width;
                padding: 0 20%;
                list-style: 0;
                color: $medium-gray;
                @include Alte-regular;
                font-size: 14px;
                line-height: 42px;
            }
        }
    }
}

.fr-navbar {
    .navbar-collapse {
        //margin-bottom: 20px;
    }
    .dropdown-header {
        color: $black;
    }
    .back-to-home {
        @include hanken-light;
        font-size: 24px;
        line-height: 42px;
        margin: 1rem;
        box-sizing: border-box;
        padding-bottom: 1rem;
        display: flex;
        justify-content: space-between;
        color: $red;
        display: none;
        border-bottom: 2px solid $dark-gray;
        .close-sidnav {
            font-size: 42px !important;
        }
    }
    ul {
        li {
            a {
                @include hanken-light;
                color: $dark-gray;
                &:after {
                    display: none;
                }
            }
        }
        li {
            cursor: pointer;
            padding: 0 1rem;
            margin-bottom: 0.5rem;
            &.fr-nearby {
                >a {
                    border: 2px solid $yellow;
                    border-radius: 40px;
                    padding: 0.4rem 2rem 0.2rem !important;
                    @include transition-basic;
                    &:hover {
                        background: $yellow;
                        text-decoration: none;
                    }
                }
            }
            &.fr-travel {
                >a {
                    border: 2px solid $green;
                    border-radius: 40px;
                    padding: 0.4rem 2rem 0.2rem !important;
                    @include transition-basic;
                    &:hover {
                        background: $green;
                        text-decoration: none;
                        color: $white;
                    }
                }
            }
            &.fr-shopping {
                >a {
                    border: 2px solid $purple;
                    border-radius: 40px;
                    padding: 0.4rem 2rem 0.2rem !important;
                    @include transition-basic;
                    &:hover {
                        background: $purple;
                        text-decoration: none;
                        color: $white;
                    }
                }
            }
        }
        >a {
            margin: 0 1rem;
            display: inline-block;
            color: $dark-gray;
            display: block;
        }
    }
}

.fr-action-bar-wrap {
    display: flex;
    align-items: center;
    .fr-action-bar {
        display: flex;
        margin: 0;
        padding: 0;
        li {
            list-style: none;
            a {
                padding: 0.5rem 1rem;
                &:first-child {
                    margin-right: 1rem;
                }
                &.add-event,
                &.search-icon {
                    width: 36px;
                    height: 36px;
                    border-radius: 36px;
                    background: $orange;
                    display: block;
                }
                &.search-icon {
                    background: url(../images/sprite.png) #db5b46;
                    background-size: 118px;
                    background-position: -56px 5px;
                    background-repeat: no-repeat;
                }
                &.add-event {
                    background: url(../images/sprite.png) #db5b46;
                    background-size: 120px;
                    background-position: -26px 5px;
                    background-repeat: no-repeat;
                }
            }
        }
    }
    .login-btn {
        display: inline-flex;
        padding: 0.4rem 2rem;
        border: 2px solid $red;
        border-radius: 2rem;
        @include hanken-light;
        @include transition-basic;
        &:hover {
            cursor: pointer;
            background: $red;
            color: $white;
        }
    }
}

@import 'megamenu';
@import 'sliders';
@import 'footer';
#changeRegion {
    .city-title-letter {
        .city-title-header {
            display: flex;
            background: $orange;
            border-radius: 30px;
            font-size: 18px;
            line-height: 30px;
            padding: 0 1rem;
            @include Alte-bold;
            color: $white;
            margin: 0;
        }
        .city-list {
            margin: 0;
            padding: 0.8rem 0 0.8rem 1.6rem;
            li {
                list-style: none;
                font-size: 14px;
                @include Alte-regular;
                a {
                    color: $dark-gray;
                    text-decoration: none;
                    @include transition-basic;
                    line-height: 32px;
                    &:hover {
                        color: $orange;
                    }
                }
            }
        }
    }
    .close {
        //margin-top: -26px;
    }
    .input-group {
        margin-bottom: 2rem;
        &.fr-search-cities {
            display: flex;
            width: 100%;
            position: relative;
            input {
                width: 100%;
                height: 60px;
                border-radius: 30px;
                border: 1px solid $orange;
                position: relative;
            }
            .input-group-btn {
                position: absolute;
                right: 0;
                top: 1px;
                button {
                    width: 58px;
                    height: 58px;
                    display: block;
                    border-radius: 30px;
                    background: $orange;
                    margin: 0;
                    z-index: 3;
                    border: none;
                    cursor: pointer;
                    position: relative;
                    &:after {
                        content: '';
                        position: absolute;
                        width: 30px;
                        height: 30px;
                        top: 15px;
                        left: 15px;
                        background: url(../images/sprite.png);
                        background-repeat: no-repeat;
                        background-size: 126px;
                        background-position: -64px;
                    }
                }
            }
        }
    }
}

.model-location-wrap {
    display: flex;
    flex-grow: 1;
    .location-img {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background: url('../images/sprite.png') $orange;
        background-repeat: no-repeat;
        background-size: 126px;
        background-position: -92px;
    }
    .location-details {
        h3 {
            @include Alte-regular;
            font-size: 20px;
            line-height: 40px;
            padding-left: 1rem;
            margin: 0;
        }
    }
}

.mobile-btns-wrapp {
    padding: 2rem 0;
    max-width: $main-width;
    margin: 0 auto;
    display: none;
    ul {
        padding: 0;
        margin: 0;
        display: flex;
        li {
            list-style: none;
            width: 100%;
            display: flex;
            justify-content: space-between;
            a {
                background: transparent;
                @include hanken-light;
                color: $black;
                width: 200px;
                border: 2px solid $white;
                z-index: 2;
                padding: 0.3rem 1rem;
                text-align: center;
                width: 90%;
                margin: 0 5%;
                border-radius: 2rem;
                cursor: pointer;
                outline: none;
                text-decoration: none;
                &.btn-nearby {
                    border-color: $yellow;
                    @include transition-basic;
                    &:hover {
                        background: $yellow;
                    }
                }
                &.btn-travel {
                    border-color: $green;
                    @include transition-basic;
                    &:hover {
                        background: $green;
                    }
                }
                &.btn-shopping {
                    border-color: $purple;
                    @include transition-basic;
                    &:hover {
                        background: $purple;
                    }
                }
            }
        }
    }
}

.reset-cities {
    a {
        border: 1px solid $dark-gray;
        padding: 0.5rem 1rem 0.3rem;
        color: $dark-gray;
        border-radius: 30px;
    }
}

.fr-login-tabs {
    position: relative;
    .fr-modal-close {
        position: absolute;
        right: 50%;
        margin-right: -15px;
        top: -15px;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $white;
        border-radius: 15px;
        opacity: 1;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
        span {
            line-height: 12px;
            position: absolute;
            top: 6px;
            left: 8px;
        }
    }
    nav {
        border: none !important;
        a {
            display: flex;
            justify-content: center;
            text-align: center;
            text-transform: capitalize;
            color: $dark-gray !important;
            background-color: $background !important;
            width: 50%;
            line-height: 60px;
            border: none !important;
            &.active {
                border: none;
                background-color: $orange !important;
                color: $white !important;
            }
        }
    }
    .tab-content {
        padding: 1.5rem 1.5rem 0;
    }
    select {
        display: flex;
        width: 100%;
        border-radius: 30px;
        border: 1px solid $yellow;
        background: url('../images/drop.png');
        background-repeat: no-repeat;
        background-size: 36px;
        background-position: 100%;
    }
    .modal-title {
        display: flex;
        justify-content: center;
        text-align: center;
        text-transform: capitalize;
        color: $white !important;
        background-color: $orange !important;
        width: 100%;
        line-height: 60px;
        border: none !important;
        border-radius: 0.275rem 0.275rem 0 0;
        margin-bottom: 1rem;
    }
}

.category-body {
    margin: 0 auto;
    >.row {
        padding: 0 30px;
    }
    .row>.col {
        padding: 0 !important;
    }
    >.item-section-header {
        border-top: 1px solid $dark-gray;
        //padding-top: 30px;
        margin-bottom: 2rem;
        margin-top: 0;
        padding-left: 0;
        padding-right: 0;
        margin-right: 15px;
        margin-left: 15px;
    }
    .items {
        margin-bottom: 30px;
    }
}

.category-sidebar {
    padding: 15px 15px 0 0;
    @include hanken-book;
    .accordion-toggle:after {
        font-family: 'FontAwesome';
        content: "\f078";
        float: right;
    }
    .accordion-toggle.collapsed:after {
        content: "\f054";
    }
    .accordion-heading {
        padding: 0.5rem 1rem;
        border-radius: 3rem;
        margin-bottom: 0.5rem;
        &.nearby-heading {
            background: $yellow;
        }
        &.travel-heading {
            background: $green;
            color: $white;
            font-weight: 100;
        }
        &.shopping-heading {
            background: $purple;
            color: $white;
            font-weight: 100;
        }
        a {
            display: block;
        }
    }
    .accordion-body {
        padding: 0 0 0 15px;
        .location-wrap {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: 48px;
            margin: 1rem 0;
            .location-img {
                width: 36px;
                height: 36px;
                display: block;
                background: url('../images/sprite.png') $orange;
                background-size: 120px;
                background-position: -89px;
                background-repeat: no-repeat;
                border-radius: 36px;
                margin: 0 1rem 0 0;
            }
        }
        .location-details {
            display: flex;
            flex-direction: column;
            color: $dark-gray;
            h3 {
                @include Alte-regular;
                font-size: 18px;
                line-height: 16px;
                margin: 0;
            }
            span {
                @include Alte-regular;
                font-size: 12px;
                line-height: 12px;
                margin: 0;
                display: block;
                text-align: left;
                position: relative;
                cursor: pointer;
                &:after {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    border-right: 1px solid $dark-gray;
                    border-bottom: 1px solid $dark-gray;
                    transform: rotate(45deg);
                    top: 3px;
                    right: -3px;
                }
            }
        }
        .sub-categories {
            margin: 0;
            padding: 0;
            color: $dark-gray;
            >li {
                padding: 0;
                margin: 0;
                list-style: none;
                @include Alte-bold;
                margin-bottom: 1rem;
                ul {
                    margin: 0;
                    padding: 0;
                    li {
                        list-style: none;
                        @include Alte-regular;
                        padding: 0.3rem 0;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

.filter-section {
    padding: 0 15px;
    margin-bottom: 15px;
    .category-switch {
        display: none;
        @include Alte-regular;
        color: $orange;
        position: relative;
        .category-sidebad-mobile {}
    }
    .frgl-filters {
        display: flex;
        justify-content: flex-end;
        .filter {
            margin: 0 0 0 15px;
        }
        .dropdown {
            button {
                background: none;
                border: none !important;
                border-color: transparent !important;
                outline: none;
                color: $dark-gray;
                &:focus {
                    outline: none !important;
                    border: none !important;
                }
                &:active {
                    outline: none !important;
                    border: none !important;
                }
                &:visited {
                    outline: none !important;
                    border: none !important;
                }
            }
        }
        .filteing {
            position: relative;
            .filters-menu {
                display: none;
                position: absolute;
                right: 0;
                z-index: 99999;
                width: 100vw;
                max-width: 320px;
                background: $white;
                .card {
                    border-radius: 0;
                    border-bottom: 1px solid $background;
                }
                .card-header {
                    border: none;
                    border-radius: 0;
                    padding: 1rem 1rem;
                }
                a {
                    @include Alte-regular;
                    font-size: 16px;
                    color: $dark-gray;
                    display: block;
                }
            }
        }
    }
}

//ui-slider
.ui-slider .ui-slider-handle {
    width: 20px;
    height: 20px;
    outline: none !important;
    border-color: $orange;
    background: $white !important;
    &:active {
        background: $white !important;
        border-color: $orange;
    }
}

.mb-0 {
    a {
        display: flex !important;
        justify-content: space-between;
    }
}

.card-body {
    &.site-select {
        position: relative;
        padding: 0;
        select {
            width: 100%;
            border: 1px solid #eaeced;
            outline: none;
            font-size: 14px;
            line-height: 50px;
            height: 50px;
            padding: 0 1rem;
        }
    }
}

.slider-text {
    @include Alte-regular;
    font-size: 14px;
    margin: 0;
    input {
        width: auto;
        display: flex;
        text-align: right;
        background: transparent;
    }
}

.ui-slider-horizontal {
    height: 0.3rem;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    border-radius: 20px;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -.5em;
    margin-left: -.6em;
}

.ui-widget-header {
    background: $orange;
}

.item-section-header.mobile {
    display: none;
}

.category-sidebad-mobile {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background: $white;
    top: 30px;
    left: -30px;
    padding: 25px 15px;
}

.item-section-header.desktop {
    display: block;
}

.item-section-header.home-page {
    padding-top: 60px;
    margin-bottom: 2rem;
}

//events
.fr-evens-body {
    max-width: $main-width;
    margin: 0 auto;
    .big-btns {
        text-align: center;
        width: 100%;
        @include Alte-regular;
        font-size: 24px;
        border: 1px solid $green;
        color: $medium-gray;
        margin: 1rem 0;
        padding: 1rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        border-radius: 1rem;
        @include transition-basic;
        .left-side {
            width: 100%;
            height: 100px;
            svg {
                width: 100px;
                g {
                    path {
                        stroke: $medium-gray;
                        @include transition-basic;
                    }
                    line {
                        stroke: $medium-gray;
                        @include transition-basic;
                    }
                }
            }
        }
        &.right {
            svg {
                transform: scaleX(-1);
                filter: FlipH;
            }
        }
        &:hover {
            background: $green;
            color: $white;
            svg {
                g {
                    path {
                        stroke: $white;
                    }
                    line {
                        stroke: $white;
                    }
                }
            }
        }
    }
}

.events-inner-page {
    background: $yellow;
    margin: -1rem 0 -60px 0;
    height: 140px;
    .events-header {
        width: $main-width;
        padding: 1rem;
        margin: 0 auto;
    }
}

.no-padding {
    padding: 0;
}

.tabs-headings {
    background: $yellow;
    height: 60px;
    border: none;
    &.fr-evens-body {
        margin: 0;
        width: 100%;
    }
    .nav-item {
        &:last-child {
            .nav-link {
                &:after {
                    display: none;
                }
            }
        }
    }
    .nav-link {
        @include Alte-regular;
        font-size: 1.4rem;
        position: relative;
        margin-right: 20px;
        &:hover {
            border-color: transparent;
        }
        &.active {
            background: transparent;
            color: $white;
            border: none;
            &:after {
                content: '';
                position: absolute;
                width: 30px;
                height: 30px;
                background: url('../images/right.png');
                background-size: contain;
                border-radius: 20px;
                top: 9px;
                right: -21px;
            }
        }
        &:after {
            content: '';
            position: absolute;
            width: 30px;
            height: 30px;
            background: url('../images/right.png');
            background-size: contain;
            border-radius: 20px;
            top: 8px;
            right: -20px;
        }
    }
}

.tab-content {
    .event-info {
        padding: 2rem 0;
        &.line-items {
            padding: 2rem 0 0;
        }
        .info-boxes {
            label {
                display: block;
                padding: 1rem;
            }
            &.image {
                min-height: 400px;
            }
        }
        label {
            display: block;
            @include Alte-regular;
            color: $orange;
            font-size: 1.3rem;
            text-transform: lowercase;
            padding: 2rem 0 0.5rem;
            &.event-des {
                padding: 1rem 0 0.5rem;
            }
        }
        input[type=text] {
            height: 40px;
            border: 1px solid $green;
            border-radius: 40px;
            background: transparent;
            display: block;
            width: 100%;
            padding: 0 1rem;
            font-size: 1rem;
            &:focus {
                outline: none;
            }
            &.required {
                border-color: $orange;
            }
        }
        &.border-bot {
            border-bottom: 2px solid $medium-gray;
            padding-top: 0;
        }
    }
    .scrollable-menu {
        height: auto;
        max-height: 200px;
        overflow-x: hidden;
    }
    .nice-select {
        width: 100%;
        border: 1px solid $green;
        background: transparent;
        border-radius: 40px;
        height: 40px;
        font-size: 1rem;
        ul.list {
            width: 100%;
        }
        &:after {
            border-bottom: none;
            border-right: none;
            content: '';
            display: block;
            height: 38px;
            margin-top: 0;
            pointer-events: none;
            position: absolute;
            right: 0;
            top: 0;
            transform-origin: initial;
            transform: rotate(0);
            transition: all 0.15s ease-in-out;
            width: 38px;
            background: url('../images/drop.png');
            background-size: contain;
        }
    }
    .map {
        display: flex;
        width: 100%;
        height: 91%;
        min-height: 350px;
        background: $green;
        border-radius: 1rem;
        margin-top: 2rem;
    }
    .description {
        width: 100%;
        height: 200px;
        border: 1px solid $green;
        border-radius: 1rem;
        background: transparent;
        padding: 1rem;
        &:focus {
            outline: none;
        }
    }
    .separation {
        margin-top: 0.4rem;
    }
}

.offer-toggle {
    ul.tab-names {
        display: flex;
        padding: 1rem 0 0 0;
        margin: 0;
        li {
            list-style: none;
            line-height: 1rem;
            @include Alte-regular;
            font-size: 1rem;
            border-radius: 4rem;
            padding: 0.8rem 1rem;
            margin: 1rem 1rem 1rem 0;
            @include transition-basic;
            border: 1px solid $purple;
            color: $dark-gray;
            &.show {
                background: $purple;
                color: $white;
            }
        }
    }
}

.extra-info {
    padding-top: 2rem;
    .col {
        padding: 0.5rem;
    }
    .info-boxes {
        border: 1px solid $green;
        border-radius: 1rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        label {
            text-align: center;
            padding-top: 0 !important;
            &.gray {
                color: $dark-gray;
            }
        }
        .options {
            &.check {
                display: flex;
                .chackbox-name {
                    color: $dark-gray !important;
                    font-size: 1.2rem;
                }
            }
        }
        .image-upload-info {
            .fg-upload-steps {
                li {
                    list-style: none;
                }
            }
        }
    }
}

.fg-upload-steps li {
    padding-left: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    img {
        width: 100%;
    }
}

.fg-upload-steps li .step-is-done {
    text-indent: -9999px;
    width: 60px;
    height: 30px;
    position: relative;
}

.fg-upload-steps li .step-is-done:before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #ff5924;
    border-radius: 30px;
}

.fg-upload-steps li span {
    flex: 1;
    width: 100%;
    padding-top: 4px;
    color: #747474;
    @include Alte-regular;
    font-size: 1.3rem;
}

.fg-upload-steps li .step-is-done {
    text-indent: -9999px;
    width: 60px;
    height: 30px;
    position: relative;
}

.checkbox {
    display: flex;
    position: relative;
    input[type=checkbox] {
        opacity: 0;
        position: absolute;
        min-width: 20px;
        height: 20px;
        &:checked+label {
            @include transition-basic;
            &:after {
                content: '';
                width: 14px;
                height: 14px;
                position: absolute;
                background: $orange;
                top: 2px;
                left: 2px;
            }
        }
    }
    .checkbox-lbl {
        min-width: 20px;
        height: 20px;
        border: 1px solid $orange;
        padding: 0 !important;
        margin: 10px;
        display: inline-block;
        position: relative;
        @include transition-basic;
    }
    .chackbox-name {
        display: inline-block;
        padding: 0 !important;
        margin: 0;
        line-height: 40px;
        cursor: pointer;
    }
}

.radio-group {
    display: flex;
    position: relative;
    input[type=radio] {
        opacity: 0;
        position: absolute;
        width: 20px;
        height: 20px;
        border-block-end: 20px;
        &:checked+label {
            @include transition-basic;
            &:after {
                content: '';
                width: 14px;
                height: 14px;
                position: absolute;
                border-radius: 14px;
                background: $orange;
                top: 2px;
                left: 2px;
            }
        }
    }
    .radio-lbl {
        width: 20px;
        height: 20px;
        border-radius: 20px;
        border: 1px solid $orange;
        padding: 0 !important;
        margin: 10px;
        display: inline-block;
        position: relative;
        @include transition-basic;
    }
    .radio-name {
        display: inline-block;
        padding: 0 !important;
        margin: 0;
        line-height: 40px;
        cursor: pointer;
        color: $dark-gray !important;
    }
}

.wickedpicker {
    border-radius: 0.6rem;
    background: $purple;
    height: auto !important;
    .wickedpicker__title {
        display: none;
    }
    .wickedpicker__controls {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        width: auto !important;
    }
    .wickedpicker__controls__control {
        width: auto;
    }
    .wickedpicker__controls__control-up,
    .wickedpicker__controls__control-down {
        background: $orange;
        margin: 0.4rem;
        width: 50px;
        height: 35px;
        border-radius: 5px;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:before,
        &:after {
            font-family: FontAwesome;
            color: $white;
        }
    }
    .wickedpicker__controls__control-up {
        &:before {
            content: '\f077';
        }
    }
    .wickedpicker__controls__control-down {
        &:after {
            content: '\f078';
        }
    }
    .wickedpicker__controls__control--hours,
    .wickedpicker__controls__control--minutes,
    .wickedpicker__controls__control--meridiem {
        margin: 0.4rem;
        width: 50px;
        height: 35px;
        border-radius: 5px;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $white;
    }
}

.datepicker-dropdown {
    background: $purple;
    padding: 1rem;
    color: $white;
    @include Alte-regular;
    font-size: 14px;
    &:after {
        border-bottom-color: $purple;
    }
    .day {
        padding: 8px;
        &:hover {
            background: transparent !important;
            color: $orange;
        }
    }
    .dow {
        color: $orange;
    }
    .datepicker-switch {
        &:hover {
            background: transparent !important;
        }
    }
    .next,
    .prev {
        &:hover {
            background: $orange;
        }
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switched {
    display: flex;
}


/* Hide default HTML checkbox */

.switch input {
    display: none;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid $green;
}

.slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 4px;
    bottom: 4px;
    background-color: $orange;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: $green;
}

input:focus+.slider {
    box-shadow: 0 0 1px $green;
}

input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.fr-lbl {
    padding: 0 1rem !important;
    display: inline-block !important;
    margin: 0;
    line-height: 40px;
}

.settings {
    width: 40px;
    height: 40px;
    display: block;
    margin-left: 10px;
    i {
        font-size: 32px;
        padding: 4px;
        color: $yellow;
        cursor: pointer;
    }
}

.right-align {
    text-align: right;
    display: block;
    width: 100%;
}

.add-custom-ticket {
    line-height: 34px;
    height: 40px;
    border: 2px solid $purple;
    @include Alte-regular;
    border-radius: 20px;
    padding: 0 1rem;
    margin: 2rem 0 0 1rem;
    display: inline-block;
    color: $dark-gray;
    @include transition-basic;
    &:hover {
        background: $purple;
        color: $white;
    }
    &.prev,
    &.next {
        border-color: $orange;
        margin: 2rem 0 0 0.5rem;
        &:hover {
            background: $orange;
        }
    }
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

//profile section
.profile-section {
    max-width: $main-width;
    margin: 3rem auto 0;
    .pinboard-nav {
        a {
            display: block;
            width: 100%;
            text-align: center;
            line-height: 40px;
            background: transparent;
            border-radius: 20px;
            @include Alte-regular;
            font-size: 1.2rem;
            border: 1px solid $orange;
            @include transition-basic;
            color: $orange;
            &:hover {
                background: $orange;
                color: $white;
            }
        }
    }
    .pinboard-event-offer {
        border: 1px solid $green;
        border-radius: 1rem;
        padding: 1rem;
        display: flex;
        margin-bottom: 0.8rem;
        .pin-evnt-image {
            min-width: 230px;
            img {
                width: 100%;
                min-width: 230px;
                border-radius: 0.6rem;
            }
        }
        .pin-evnt-content {
            padding: 0 0.5rem 0 1rem;
            h2 {
                @include Alte-bold;
                font-size: 1.3rem;
                color: $dark-gray;
            }
            h3 {
                @include Alte-bold;
                font-size: 0.8rem;
                color: $dark-gray;
            }
            p {
                margin: 0;
                @include Alte-regular;
                font-size: 0.9rem;
                position: relative;
                color: $dark-gray;
                &.old-price {
                    display: inline-block;
                    &:after {
                        content: '';
                        width: 110%;
                        display: block;
                        height: 1px;
                        background: $dark-gray;
                        position: absolute;
                        top: 10px;
                        left: 13px;
                    }
                }
            }
        }
        .pin-evnt-actions {
            a {
                white-space: nowrap;
                border: 1px solid $purple;
                line-height: 40px;
                display: block;
                padding: 0 1rem;
                border-radius: 20px;
                text-align: center;
                color: $purple;
                @include transition-basic;
                margin-bottom: 0.5rem;
                &:hover {
                    background: $purple;
                    color: $white;
                }
                &.fg-button--icon {
                    width: 42px !important;
                    border: 1px solid $orange;
                    color: $orange;
                    &:hover {
                        background: $orange;
                        color: $white;
                    }
                }
            }
            .delete-icon {
                display: flex;
                justify-content: flex-end;
            }
        }
    }
    .profile-uploaded-box {
        .profile-uploaded-photo {
            img {
                width: 180px;
                height: 180px;
                border-radius: 90px;
            }
        }
    }
    .profile-pinboard--box {
        border: 1px solid $green;
        border-radius: 1rem;
        padding: 1rem 2rem 2rem;
        margin-bottom: 1rem;
        label {
            display: block;
            @include Alte-regular;
            color: $dark-gray;
            font-size: 1.3rem;
            text-transform: lowercase;
            padding: 1rem 0 0rem 0;
            &.event-des {
                padding: 1rem 0 0.5rem;
            }
        }
        .nice-select {
            width: 100%;
            border: 1px solid $green;
            background: transparent;
            border-radius: 40px;
            height: 40px;
            font-size: 1rem;
            ul.list {
                width: 100%;
            }
            &:after {
                border-bottom: none;
                border-right: none;
                content: '';
                display: block;
                height: 38px;
                margin-top: 0;
                pointer-events: none;
                position: absolute;
                right: 0;
                top: 0;
                transform-origin: initial;
                transform: rotate(0);
                transition: all 0.15s ease-in-out;
                width: 38px;
                background: url('../images/drop.png');
                background-size: contain;
            }
        }
    }
    .payment-buttons {
        button {
            line-height: 40px;
            @include Alte-regular;
            background: transparent;
            border: 1px solid $green;
            border-radius: 22px;
            padding: 0 1rem;
            color: $green;
            @include transition-basic;
            &:hover {
                background: $green;
                cursor: pointer;
                color: $white;
            }
        }
    }
    input[type=text],
    input {
        height: 40px;
        border: 1px solid $green;
        border-radius: 40px;
        background: transparent;
        display: block;
        width: 100%;
        padding: 0 1rem;
        font-size: 1rem;
        &:focus {
            outline: none;
            border-color: $green;
            background: transparent;
        }
        &.required {
            border-color: $orange;
        }
    }
    .messages-list {
        a {
            display: block;
            .message-row {
                display: flex;
                .avatar {
                    display: inline-block;
                    img {
                        width: 60px;
                        height: 60px;
                        border-radius: 50px;
                    }
                }
                .message-content {
                    padding: 0 1rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    .messages-date {
                        display: block;
                        font-size: 0.8rem;
                    }
                }
                .messages-subject {
                    color: $dark-gray;
                    font-size: 1rem;
                    @include Alte-regular;
                }
            }
        }
    }
    .settings-bot-box {
        h2 {
            @include Alte-bold;
            font-size: 1.5rem;
            color: $dark-gray;
        }
    }
    .pin-evnt-content {
        flex-grow: 1;
    }
    .pin-evnt-image {
        width: 230px;
    }
    .fg-pending-past {
        margin-bottom: 1rem;
        border-bottom: none;
        li {
            a {
                display: block;
                line-height: 40px;
                border: 1px solid $purple;
                padding: 0 1rem;
                border-radius: 22px;
                background: transparent;
                color: $purple;
            }
            &:first-child {
                a {
                    margin-right: 1rem;
                }
            }
            &.active {
                a {
                    background: $purple;
                    color: $white;
                }
            }
        }
    }
}

@import 'megamenu';
@import 'sliders';
@import 'footer';
@import 'media';
@import url('//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');