.item-slider {
    margin: 0 auto;
}

.item-section-header {
    padding: 0.5rem;
    .item-section-title {
        font-size: 36px;
        letter-spacing: 6px;
        @include hanken-book;
        text-transform: uppercase;
        line-height: 40px;
        margin: 0;
        transform: translate(0, 4px);
    }
    div {
        display: flex;
        &:last-child {
            justify-content: flex-end;
        }
        a {
            background: transparent;
            border: 2px solid;
            border-radius: 30px;
            line-height: 36px;
            font-size: 18px;
            padding: 0 2rem;
            cursor: pointer;
            outline: none;
            @include transition-basic;
            color: $dark-gray !important;
            &.nearby-btn {
                border-color: $yellow;
                &:hover {
                    background: $yellow;
                }
            }
            &.travel-btn {
                border-color: $green;
                &:hover {
                    background: $green;
                    color: $white !important;
                }
            }
            &.shopping-btn {
                border-color: $purple;
                &:hover {
                    background: $purple;
                    color: $white !important;
                }
            }
            &.event-btn {
                border-color: $orange;
                &:hover {
                    background: $orange;
                    color: $white !important;
                }
            }
        }
    }
}

.items {
    &.yellow-items {
        .item {
            .item-price{
                

                .price{
                    >p{
                        color: $yellow;
                    }
                }
            }
            outline: none;
            &:hover {
                .item-wrapp {
                    .item-image {
                        .overlay-icon {
                            display: block;
                            background: url('../images/item-overlays.png') $yellow;
                            background-repeat: no-repeat;
                            background-size: 76px;
                            background-position: -46px -3px;
                            z-index: 9999;
                            opacity: 1;
                        }
                    }
                    .item-price {
                        color: $yellow;
                        display: flex;
                        
                    }
                    .item-location {
                        &:before {
                            background: url('../images/item-icons.png') $yellow;
                            background-repeat: no-repeat;
                            background-position: 7px;
                            background-size: 33px;
                        }
                    }
                    .item-date {
                        &:before {
                            background: url('../images/item-icons.png') $yellow;
                            background-repeat: no-repeat;
                            background-position: -11px;
                            background-size: 30px;
                        }
                    }
                }
            }
            &.featured {
                //start of featured
                .item-wrapp {
                    .item-image {
                        .featured {
                            display: block;
                            background: transparent;
                            opacity: 1;
                        }
                    }
                    .item-price {
                        background: $white;
                        color: $yellow;
                        display: flex;
                        
                        .price{
                            display: flex;
                            flex-wrap: wrap;
                        }
                    }
                }
                &:hover {
                    .item-price {
                        color: $yellow;
                    }
                } //end of featured
            }
        }
    }
    &.green-items {
        .item {
            
            .item-price{
                

                .price{
                    >p{
                        color: $green;
                    }
                }

                .discount{
                    span{
                        background: $green !important;
                    }
                }
            }
            outline: none;
            &:hover {
                .item-wrapp {
                    .item-image {
                        .overlay-icon {
                            display: block;
                            background: url('../images/item-overlays.png') $green;
                            background-repeat: no-repeat;
                            background-size: 76px;
                            background-position: -46px -3px;
                            z-index: 9999;
                            opacity: 1;
                        }
                    }
                    .item-price {
                        color: $green;
                    }
                    .item-location {
                        &:before {
                            background: url('../images/item-icons.png') $green;
                            background-repeat: no-repeat;
                            background-position: 7px;
                            background-size: 33px;
                        }
                    }
                    .item-date {
                        &:before {
                            background: url('../images/item-icons.png') $green;
                            background-repeat: no-repeat;
                            background-position: -11px;
                            background-size: 30px;
                        }
                    }
                }
            }
            &.featured {
                //start of featured
                .item-wrapp {
                    .item-image {
                        .featured {
                            display: block;
                            background: transparent;
                            color: $white;
                            opacity: 1;
                        }
                    }
                    .item-price {
                        background: $white;
                        color: $green;
                    }
                }
                &:hover {
                    .item-price {
                        color: $green;
                    }
                } //end of featured
            }
        }
    }
    &.purple-items {
        .item {
            &.free-item{
                .free-item-item{
                    display: block;
                    width: 50px;
                    height: 50px;
                    background: url(../images/free.png);
                    background-size: 100%;
                    background-repeat: no-repeat;
                }
                .item-price{
                    .price{
                        span{
                            display: none !important;
                            p{
                                display: none !important;
                            }
                        }
                        p{
                            display: none;
                        }
                    }
                }
            }
            
            .item-price{
                

                .price{
                    >p{
                        color: $purple;
                    }
                }
                
                .discount{
                    span{
                        background: $purple !important;
                    }
                }
            }
            outline: none;
            &:hover {
                .item-wrapp {
                    .item-image {
                        .overlay-icon {
                            display: block;
                            opacity: 1;
                            background: url('../images/item-overlays.png') $purple;
                            background-repeat: no-repeat;
                            background-size: 76px;
                            background-position: -46px -3px;
                            z-index: 9999;
                        }
                    }
                    .item-price {
                        color: $purple;
                    }
                    .item-location {
                        &:before {
                            background: url('../images/item-icons-white.png') $purple;
                            background-repeat: no-repeat;
                            background-position: 7px;
                            background-size: 33px;
                        }
                    }
                    .item-date {
                        &:before {
                            background: url('../images/item-icons-white.png') $purple;
                            background-repeat: no-repeat;
                            background-position: -11px;
                            background-size: 30px;
                        }
                    }
                }
            }
            &.featured {
                //start of featured
                .item-wrapp {
                    .item-image {
                        .featured {
                            display: block;
                            background: transparent;
                            color: $white;
                            opacity: 1;
                        }
                    }
                    .item-price {
                        background: $white;
                        color: $purple !important;
                    }
                }
                &:hover {
                    .item-price {
                        color: $purple;
                    }
                } //end of featured
            }
        }
    }
    &.orange-items {
        .item {
            &.free-item{
                .free-item-item{
                    display: block;
                    width: 50px;
                    height: 50px;
                    background: url(../images/free.png);
                    background-size: 100%;
                    background-repeat: no-repeat;
                }
                .item-price{
                    .price{
                        span{
                            display: none !important;
                            p{
                                display: none !important;
                            }
                        }
                        p{
                            display: none;
                        }
                    }
                }
            }
            
            .item-price{
                

                .price{
                    >p{
                        color: $orange;
                    }
                }
                
                .discount{
                    span{
                        background: $orange !important;
                    }
                }
            }
            outline: none;
            &:hover {
                .item-wrapp {
                    .item-image {
                        .overlay-icon {
                            display: block;
                            opacity: 1;
                            background: url('../images/item-overlays.png') $orange;
                            background-repeat: no-repeat;
                            background-size: 76px;
                            background-position: -46px -3px;
                            z-index: 9999;
                        }
                    }
                    .item-price {
                        color: $purple;
                    }
                    .item-location {
                        &:before {
                            background: url('../images/item-icons-white.png') $orange;
                            background-repeat: no-repeat;
                            background-position: 7px;
                            background-size: 33px;
                        }
                    }
                    .item-date {
                        &:before {
                            background: url('../images/item-icons-white.png') $orange;
                            background-repeat: no-repeat;
                            background-position: -11px;
                            background-size: 30px;
                        }
                    }
                }
            }
            &.featured {
                //start of featured
                .item-wrapp {
                    .item-image {
                        .featured {
                            display: block;
                            background: transparent;
                            color: $white;
                            opacity: 1;
                        }
                    }
                    .item-price {
                        background: $white;
                        color: $purple !important;
                    }
                }
                &:hover {
                    .item-price {
                        color: $orange;
                    }
                } //end of featured
            }
        }
    }
    .item {
        outline: none;
        cursor: pointer;
        .free-item-item{
            display: none;
        }
        
        &.featured {
            //start of featured
            .item-wrapp {
                border: 5px solid $orange;
                padding-bottom: 0;
                .item-image {
                    .featured {
                        width: 40px;
                        height: 40px;
                        position: absolute;
                        display: block;
                        background: url('../images/item-overlays.png') !important;
                        background-repeat: no-repeat;
                        background-size: 76px !important;
                        bottom: 1rem;
                        left: 1rem;
                        z-index: 3;
                    }
                }
                .item-price {
                    background: $yellow;

                    
                }
            } //end of featured
        }
        &.promoted {
            // start of promoted
            .item-wrapp {
                .item-image {
                    border: 5px solid $red;
                    .promo-icon {
                        width: 40px;
                        height: 40px;
                        position: absolute;
                        display: block;
                        background: url('../images/item-overlays.png');
                        background-repeat: no-repeat;
                        background-size: 76px;
                        bottom: 1rem;
                        left: 1rem;
                        z-index: 3;
                    }
                }
            }
            &:hover {
                .item-wrapp {
                    .item-image {
                        .overlay-icon {
                            display: block;
                            opacity: 1;
                            background: url('../images/item-overlays.png') $red;
                            background-repeat: no-repeat;
                            background-size: 76px;
                            background-position: -46px -3px;
                            z-index: 9999;
                        }
                    }
                    .item-price {
                        color: $red;
                    }
                }
            }
            //end of promoted
        }
        .item-wrapp {
            margin: 0 0.8rem 0 0;
            padding-bottom: 10px;
            background: $white;
            .item-image {
                width: 100%;
                height: 162px;
                display: flex;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: 50% 50%;
                position: relative;
                &:after {
                    width: 100%;
                    height: 100%;
                    content: '';
                    position: absolute;
                    background: $black;
                    @include transition-basic;
                    opacity: 0.5;
                }
                .featured {
                    display: block;
                    width: 100%;
                    background: transparent;
                    text-align: center;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    @include transition-basic;
                    padding: 0.5rem 0;
                    opacity: 0;
                    z-index: 3;
                }
                .overlay-icon {
                    display: block;
                    width: 34px;
                    height: 37px;
                    background: url('../images/item-overlays.png') $medium-gray;
                    background-repeat: no-repeat;
                    background-size: 76px;
                    background-position: -46px -3px;
                    position: absolute;
                    right: 1rem;
                    //display: none;
                    opacity: 0;
                    @include transition-basic;
                    z-index: 3;
                }
            }
            .item-details {
                width: 100%;
                display: block;
                padding: 1rem;
                min-height: 190px;
                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    margin: 0;
                    color: $medium-gray;
                }
                .item-title {
                    @include hanken-light;
                    font-size: 1.2rem;
                    line-height: 1.2rem;
                    margin-bottom: 1rem;
                    color: $dark-gray;
                }
                .item-place {
                    @include Alte-regular;
                    font-size: 0.8rem;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                    @include transition-basic;
                }
                .item-location {
                    @include Alte-regular;
                    font-size: 0.8rem;
                    position: relative;
                    line-height: 24px;
                    padding-left: 40px;
                    margin-bottom: 6px;
                    @include transition-basic;
                    &:before {
                        content: '';
                        width: 24px;
                        height: 24px;
                        border-radius: 18px;
                        display: inline-block;
                        background: url('../images/item-icons.png');
                        background-repeat: no-repeat;
                        background-position: 7px;
                        background-size: 33px;
                        position: absolute;
                        left: 0;
                        @include transition-basic;
                    }
                }
                .item-date {
                    @include Alte-regular;
                    font-size: 0.8rem;
                    position: relative;
                    line-height: 24px;
                    padding-left: 40px;
                    margin-bottom: 10px;
                    @include transition-basic;
                    &:before {
                        content: '';
                        width: 24px;
                        height: 24px;
                        border-radius: 18px;
                        display: inline-block;
                        background: url('../images/item-icons.png');
                        background-repeat: no-repeat;
                        background-position: -11px;
                        background-size: 30px;
                        position: absolute;
                        left: 0;
                        @include transition-basic;
                    }
                }
                .item-tag {
                    @include Alte-regular;
                    font-size: 10px;
                    margin-bottom: 0px;
                }
            }
            .item-price {
                display: flex;
                justify-content: space-between;
                @include hanken-book;
                font-size: 21px;
                color: $black;
                // background: $yellow;
                margin: 0;
                @include transition-basic;
                padding: 1rem;
                .price{
                    span{
                        @include hanken-light;
                        font-size: 18px;
                        line-height: 21px;
                        margin: 0;
                        position: relative;
                        transform: translate(0, 2px);
                        color: $medium-gray;
                        width: 100%;
                        display: flex;
                        justify-content: flex-end;
                        p{
                            display: inline-block;
                            position: relative;
                            margin-bottom: 3px;
                            &:after {
                                content: '';
                                width: 120%;
                                height: 1px;
                                background: $medium-gray;
                                display: block;
                                position: absolute;
                                top: 8px;
                                left: -10%;
                            }
                        }
                    }
                    >p{
                        width: 100%;
                        text-align: right;
                        margin-bottom: 0;
                    }
                }

                .discount{
                    display: flex;
                    
                    span{
                        white-space: nowrap;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        background: $yellow;
                        margin: 0 !important;
                        line-height: 0 !important;
                        height: 50px;
                        padding: 10px 1rem !important;
                        transform: translate(-16px, 0);
                        color: $white !important;
                        &:after{
                            display: none;
                        }
                    }
                        
                }
                span {
                    
                    
                }
            }
        }
        &:hover {
            .item-wrapp {
                .item-image {
                    &:after {
                        width: 100%;
                        height: 100%;
                        content: '';
                        position: absolute;
                        background: $black;
                        opacity: 0;
                    }
                }
            }
        }
    }
}

.slick-dots {
    display: none;
}