// colors
$orange: #db5b46;
$yellow: #fec153;
$green: #47b39b;
$purple: #511948;
$red: #db5b46;
$background: #eaeced;
$white: #ffffff;
$medium-gray: #7e8890;
$dark-gray: #525252;
$black: #000000;
// widths
$main-width: 1140px;
//heights