// colors
$orange: #DA5B46;
$yellow: #fec153;
$green: #47b39b;
$purple: #511948;
$red: #db5b46;
$background: #eaeced;
$white: #ffffff;
$medium-gray: #7e8890;
$dark-gray: #525252;
$black: #000000;
$newfont-col1: #3A3A3A;
$new-font-col2: #7E858D;
// widths
$main-width: 1140px;
$edited-line-height: 1.5;
//heights